<!-- cache-<%=lang=%> -->
<!DOCTYPE html>
<html lang="<%=lang=%>">
<head>
    <meta charset="UTF-8">
    <style>
        :root {
            --bg-color: #f0f0f0;
            --text-color: #000;
            --cancel-btn-text: var(--text-color);
            --cancel-btn-bg: #383838;
            --cancel-btn-bg-hover: #565656;
            --cancel-btn-bg-disabled: #9d9d9d;
            --link-color: var(--text-color);
            --link-color-hover: #444444;
        }

        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            font-family: sans-serif;
            padding: 1em;
            width: 85%;
            min-width: 8em;
            max-width: 60em;
            margin: auto;
            text-align: center;
        }

        #cancel-button {
            background-color: var(--cancel-btn-bg);
            color: var(--cancel-btn-text);
            width: 100%;
            margin: auto;
            border-radius: 0;
            border: none;
            text-decoration: none;
            padding: .7em;
            text-transform: uppercase;
        }

        #cancel-button:hover {
            background-color: var(--cancel-btn-bg-hover);
        }

        #cancel-button:disabled {
            background-color: var(--cancel-btn-bg-disabled);
            cursor: not-allowed;
        }

        #link {
            overflow-wrap: break-word;
        }

        .bold {
            font-weight: bold;
        }

        a:link, a:visited {
            color: var(--link-color)
        }

        a:hover, a:active {
            color: var(--link-color-hover)
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --bg-color: #000;
                --text-color: #fff;
                --cancel-btn-bg: #383838;
                --cancel-btn-bg-hover: #565656;
                --cancel-btn-bg-disabled: #262626;
                --link-color-hover: #c7c7c7;
            }
        }
    </style>
    <link rel="icon" href="data:;base64,=">
    <title><%=title=%></title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const timeoutSeconds = Math.round(parseInt("{{redirectTimeout}}") / 1000)
            const secondsLeftElement = document.getElementById('seconds-left')
            secondsLeftElement.textContent = timeoutSeconds.toString()
            let timeLeft = timeoutSeconds

            let interval = setInterval(() => {
                timeLeft = Math.max(timeLeft - 1, 0)
                if (timeLeft <= 0) location.href = "{{& link}}"
                if (timeLeft >= 0) secondsLeftElement.textContent = timeLeft.toString()
            }, 1000)

            document.getElementById("cancel-button").addEventListener("click", (event) => {
                clearInterval(interval)
                event.target.disabled = true
            })
        })
    </script>
</head>
<body>
    <div id="text-container">
        <p><%=line1=%></p>
        <p class="bold" id="link"><a href="{{& link}}">{{link}}</a></p>
        <p><%=line2=%></p>
    </div>
    <hr>
    <div id="button-container">
        <button type="button" id="cancel-button" class="bold"><%=cancel=%></button>
    </div>
</body>
</html>